{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <header>Book-Mark</header>
    <br>
    <div class="container">
        <div class="row">
            <div class="box">
      <div class="ribbon">
        <div class="border-ribbon"></div>
        <a href="#" class="fa fa-user"></a>
      </div>
    </div>
        </div>
    </div>
    <div>
        <button><a href="{% url 'main:new' %}">CREATE</a></button>
    </div>
    </div>

    <div>
        {% if bookmarks %}


        {% for bookmark in bookmarks %}
    </div>
    <p> {{ bookmark.site_name }}</p>
    <p> {{ bookmark.site_url }}</p>
    <div>
        <a href="{% url 'main:edit' bookmark.id %}">edit</a>
        <form action="{%url 'main:delete' bookmark.id%}" method="POST">
            {% csrf_token %}
            <input type="submit" value="delete">
        </form>
    </div>
    </div>
    {% endfor %}
    {% if posts.has_previous %}
    <a href="?page={{posts.previous_page_number}}">previous</a>
    {% endif %}
    <span>{{ posts.number }}</span>
    <span>/</span>
    <span>{{ posts.paginator.num_pages }}</span>
    {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}">next</a>
    {% endif %}
    {% else %}

    <div>
        <p>
            북마크가 비어있어요 CREATE 필요
        </p>
    </div>

    {% endif %}

    </div>



    {% endblock %}
</body>

</html>
